.actionBtn {
    cursor: pointer;
}

.res-table {
    @media only screen and (max-width:767px) {
        overflow-x: auto;
    }

    .sc-dmctIk {
        overflow: inherit !important;

        .dtqzBx div:first-child {
            overflow-x: unset !important;
            overflow-y: visible !important;
        }
    }
}

.page-content {
    background-color: #e9e9ef;
    min-height: 100vh;
}

//for Application component @mmp
.page-content1 {
    margin-top: $header-height;
}
.invalid-feedback {
    display: block !important;
}

.tab-navlink {
    cursor: pointer;
}