.actionBtn {
    cursor: pointer;
}

.res-table {
    @media only screen and (max-width:767px) {
        overflow-x: auto;
    }

    .sc-dmctIk {
        overflow: inherit !important;

        .dtqzBx div:first-child {
            overflow-x: unset !important;
            overflow-y: visible !important;
        }
    }
}